body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: bisque;
    height: 100vh;
}